.DS_Store
/__sapper__/
.esm-cache
.env
.env.*
/_hidden
/src/routes/_refresh.svelte
/.vscode

/node_modules
!/src/node_modules
/src/node_modules/@sapper
/static/css/global.css
/static/css/global.css.map
